[core]
	quotepath = false
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

[diff "xlsx"]
	binary = true
	textconv = $GOPATH/bin/git-xlsx-textconv

[ui]
	color = auto
[push]
	default = nothing
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = jenene08
	email = 33044125+jenene08@users.noreply.github.com
